<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="container" style="color:blue;">
      Hospital Managment System
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button routerLink="/register" shape ="round" routerDirection="forward" expand="block">Register Patient</ion-button>
    <br>
    <ion-button routerLink="/view" shape ="round" routerDirection="forward" expand="block">View Patient Details</ion-button>
  </div>
</ion-content>
<ion-footer id="center">
  <ion-toolbar>
    <ion-title>Copyright@CT20192815006</ion-title>
  </ion-toolbar>
</ion-footer>