<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  id="container">
    <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Gender</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Age</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contact No</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prolem Description</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </div>
  <br>
  <br>
  <ion-button routerLink="/" routerDirection="root" >Home</ion-button>
  <ion-button routerLink="/" routerDirection="root" >Reset</ion-button>
  <ion-button routerLink="/" routerDirection="root" >Submit</ion-button>
  
</ion-content>
